body.login-body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: lightgray;
    color: darkslategrey;
}

body.reg-body {
    background-color: darkslategrey;
    /*color: whitesmoke;*/
}

h2.title {
    color: whitesmoke;
}

.well {
    color: gray;
}

.blue_background {
    background-color: #19334d;
}

#depart_leav_loc_dropdown, #return_dep_loc_dropdown {
    background-color: #ebebe0;
    border-color: #ebebe0;
    color: black;
}

#depart_arriv_loc_dropdown, #return_arriv_loc_dropdown {
    background-color: #e6f7ff;
    border-color: #e6f7ff;
    color: black;
}

#departing_datepicker, #returning_datepicker {
    background-color: #ffd6cc;
    border-color: #ffd6cc;
    color: black;
}

.colored_text {
    color: gray;
}

#make_ticket_btn {
    background-color: #0073e6;
    border-color: #0073e6;
    color: whitesmoke;
}

#departing_information, #returning_information {
    background-color: #264040;
    color: whitesmoke;
    border-radius: 4px;
    padding: 10px;
}

#departing_flight_info, #returning_flight_info {
    background-color: #12273b;
    color: whitesmoke;
    border-radius: 4px;
    padding: 10px;
}

#title_page_stuff {
    background-color: lightgray;
    border-radius: 0px;
}

#page_title {
    color: darkslategrey;
    font-weight: bolder;
}

#note {
    background-color: whitesmoke;
    border-color: whitesmoke;
}

#generate_flights {
    color: darkslategrey;
    height: 63px;
}

#find_flights_btn {
    background-color: lightgray;
}

.bottom-column {
    float: bottom;
    display: table-cell;
    vertical-align: bottom;
}

.form-signin {
    max-width: 480px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .title {
    text-align: center;
}

.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

