body.login-body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: darkslategrey;
    color: lightgray;
}

body.reg-body {
    background-color: darkslategrey;
    /*color: whitesmoke;*/
}

h2.title {
    color: whitesmoke;
}

.well {
    color: gray;
}

.blue_background {
    background-color: #19334d;
}

#sidebar {
    background-color: #1d3030;
}

#left_column {
    padding-right: 1px;
}

#weather_title {
    text-align: center;
    color: whitesmoke;
}

.orange_background {
    background-color: #995c00;
}

#depart_leav_loc_dropdown, #return_dep_loc_dropdown {
    background-color: #ebebe0;
    border-color: #ebebe0;
    /*background-color: #bfd9d9;*/
    /*border-color: #bfd9d9;*/
    color: black;
}

#depart_arriv_loc_dropdown, #return_arriv_loc_dropdown {
    background-color: #e6f7ff;
    border-color: #e6f7ff;
    color: black;
}

#departing_datepicker, #returning_datepicker {
    background-color: #ffebe6;
    border-color: #ffebe6;
    color: black;
}

#weather_loc_dropdown {
    background-color: #ebebe0;
    border-color: #ebebe0;
    /*background-color: #bfd9d9;*/
    /*border-color: #bfd9d9;*/
    color: black;
}

.colored_text {
    color: gray;
}

#no_can_do_modal_styling {

}

#go_home_btn {
    margin-bottom: 18px;
}

#make_ticket_btn {
    background-color: #0073e6;
    border-color: #0073e6;
    color: whitesmoke;
}

#create_airport_btn {
    background-color: #0073e6;
    border-color: #0073e6;
    color: whitesmoke;
    margin-top: 10px;
}

#create_flight_btn {
    background-color: #0073e6;
    border-color: #0073e6;
    color: whitesmoke;
    margin-top: 10px;
}

#create_instance_btn {
    background-color: #0073e6;
    border-color: #0073e6;
    color: whitesmoke;
    margin-top: 10px;
}

#ticket_submit_btn {
    background-color: #0073e6;
    border-color: #0073e6;
    color: whitesmoke;
}

#departing_information, #returning_information {
    background-color: #264040;
    color: whitesmoke;
    border-radius: 4px;
    padding: 10px;
}

#weather_information {
    background-color: #264040;
    color: whitesmoke;
    border-radius: 4px;
    padding: 10px;
}

#create_own_airport_div_info, #create_own_flight_div_info, #create_own_instance_div_info {
    background-color: #663d00;
    color: whitesmoke;
    border-radius: 4px;
    padding: 10px;
}

#departing_flight_info, #returning_flight_info {
    background-color: #12273b;
    color: whitesmoke;
    border-radius: 4px;
    padding: 10px;
}

#title_page_stuff {
    background-color: lightgray;
    border-radius: 0px;
}

#weather_page_stuff {
    background-color: lightgray;
    border-radius: 0px;
}

#page_title {
    color: darkslategrey;
    font-weight: bolder;
}

#not_satisfied_btn {
    color: gray;
}

#note {
    background-color: whitesmoke;
    border-color: whitesmoke;
}

#generate_flights {
    color: darkslategrey;
    height: 63px;
}

#generate_weather {
    color: darkslategrey;
    height: 63px;
}

#find_flights_btn {
    background-color: lightgray;
    color: darkslategray;
}

#generate_weather_btn {
    background-color: lightgray;
    color: darkslategray;
}

.bottom-column {
    float: bottom;
    display: table-cell;
    vertical-align: bottom;
}

.form-signin {
    max-width: 480px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .title {
    text-align: center;
}

.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#coa_airport_input, #coa_code_input, #coa_latitude_input, #coa_longitude_input, #coa_city_input, #coa_state_input, #coa_city_url_input {
    color: black
}

#weather_div {
    background-color: #1d3030;
    border-color: #1d3030;
    overflow:auto;
}

.weatherSummaryEven {
    color: white;
    background-color: darkcyan;
    border-radius: 15px;
    padding: 15px;
}

.weatherSummaryOdd {
    color: white;
    background-color: #12273b;
    border-radius: 15px;
    padding: 15px;
}

.weatherSummary {
    color: white;
    background-color: #584e4e;
    border-radius: 15px;
    padding: 15px;
}

#create_own_airport_div_info {
    height: 489px;
    overflow: auto;
}

#create_own_flight_div_info {
    height: 455px;
    overflow: auto;
}
